body{
    overflow-x: hidden;
    top: 0px !important; 
}


/* ------------------------------------------Nav-bar------------------------------------- */

header{
    background-color: rgb(255, 80, 80);
    color: white;
}
footer{
    background-color: rgb(255, 80, 80);
    text-align: center;
    color: white;
}
.foot{
    margin: 0;
}

a.nav-link{
    margin-right: 1rem;
    color: white !important;
    font-weight: bold !important;
    z-index: 0 !important;
}

a.nav-link:hover{
    color: white;
}

#nav-color{
    color: white;
    z-index: 0 !important;
}

.navbar-dark .navbar-toggler{
    color: white !important;
}

nav{
    z-index: 0 !important;
}


/* ----------------------------------------REGISTER-------------------------------------- */

.formmm{
    background-color: rgba(255, 209, 209, 0);
    color: white;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-top: 5rem;
    padding-top: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}
.tag{
    font-size: 1.5rem;
    display: inline-block;
    width: 17rem;
    font-weight: 600;
}

h4{
    padding-bottom: 2rem;
    font-size: 2rem;
}

hr{
    color: white;
}

input , select{
    margin-bottom: 1.5rem;
    width: 20rem;
    font-size: 1.5rem;
    border: 2px solid rgba(8, 8, 8, 0.815);
    border-radius: 5px;
    
}
.buttonn{
    width: 8rem;
    margin-right: 2rem;
    border-radius: 5px;
    background-color: white;
    border : 1px solid rgba(26, 26, 26, 0.938);
    box-shadow: 2px 4px rgba(75, 75, 75, 0.836);
    text-align: center;
    justify-items: center;
    font-size: 1.7rem;
    font-weight: 500;
 }

 .buttonn :hover{
     box-shadow: none;
 }

 .burger{
     text-align: center;
 }

#check{
    width: 30px;
}

.hidee{
    display: none;
}

.show{
    display: block;
}

#logout{
    width: 8rem;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    border-color: white;
    color: white;
    text-align: center;
    justify-items: center;
    font-weight: bold;
}

#logout:hover{
    background-color: white;
    color: #f31c1c;
    font-weight: bold;
}

/*------------------------------------------Add Center Locations--------------------------------*/
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
    cursor: pointer;
  }

.pop-up_form{
    /* position: relative; */
    top: 0;
    width: 75%;
    padding-left: 0%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-top: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    color: white;
    background: rgb(255, 68, 68);
    border-radius: 10px;
    z-index: 2;
}


#popup_frm_div{
    position: absolute;
    top: 6rem;
    width: 100%;
    display: none;
}
.inpt_frm{
    width: 15rem;
}

.add_tag{
    padding-left: 7rem;
}

.add-button{
    /* background-color: white; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.add-buttonn{
    width: 15rem;
    font-size: 1.5rem;
    background-color: white;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 5px;
    box-shadow: 2px 4px rgba(75, 75, 75, 0.836);

}

.add-button :hover{
    box-shadow: none;
}



/* ---------------------------------------------ABOUT_US------------------------------------------- */
.about-us{
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 70%;
    text-align: justify;
    font-size: 1.3rem;
    background-color: #f53131;
    color: white;
    padding: 5%;
    
}



/*----------------------------------------------TABLE----------------------------------------*/

.table_{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 2px solid black;
    border-spacing: 0;
}

td , th{
    /* border: 2px solid black !important; */
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}



