body{
    overflow-x: hidden;
    top: 0px !important; 
}


/* ------------------------------------------Nav-bar------------------------------------- */

header{
    background-color: rgb(255, 80, 80);
    color: white;
}
footer{
    background-color: rgb(255, 80, 80);
    text-align: center;
    color: white;
}
.foot{
    margin: 0;
}

a.nav-link{
    margin-right: 1rem;
    color: white !important;
    font-weight: bold !important;
}

a.nav-link:hover{
    color: white;
}

#nav-color{
    color: white;
}

.navbar-dark .navbar-toggler{
    color: white !important;
}


/* ----------------------------------------REGISTER-------------------------------------- */

.formmm{
    background-color: rgba(255, 209, 209, 0);
    color: white;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-top: 5rem;
    padding-top: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}
.tag{
    font-size: 1.5rem;
    display: inline-block;
    width: 17rem;
    font-weight: 600;
}

h4{
    padding-bottom: 2rem;
    font-size: 2rem;
}

hr{
    color: white;
}

input , select{
    margin-bottom: 1.5rem;
    width: 20rem;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
    
}
.buttonn{
    width: 8rem;
    margin-right: 2rem;
    border-radius: 5px;
    background-color: white;
    border : 1px solid black;
    text-align: center;
    justify-items: center;
    font-size: 1.7rem;
    font-weight: 500;
 }

 .burger{
     text-align: center;
 }

#check{
    width: 30px;
}

.hidee{
    display: none;
}

.show{
    display: block;
}

#logout{
    width: 8rem;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    border-color: white;
    color: white;
    text-align: center;
    justify-items: center;
    font-weight: bold;
}

#logout:hover{
    background-color: white;
    color: #f31c1c;
    font-weight: bold;
}

/*------------------------------------------Add Center Locations--------------------------------*/
.pop-up_form{
    /* position: relative; */
    top: 0;
    width: 75%;
    padding-left: 0%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-top: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    background-color: aqua;
}

#popup_frm_div{
    position: absolute;
    top: 6rem;
    width: 100%;
    display: none;
}
.inpt_frm{
    width: 15rem;
}

.add_tag{
    padding-left: 7rem;
}

.add-button{
    /* background-color: white; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.add-buttonn{
    width: 15rem;
    font-size: 1.5rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

/* ---------------------------------------------ABOUT_US------------------------------------------- */
.about-us{
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 70%;
    text-align: justify;
    font-size: 1.3rem;
    background-color: #f53131;
    color: white;
    padding: 5%;
    
}

/* -------------------------------------------Login------------------------------------- */
/* .login{
    display: inline-block;
}

.flex_cont{
display: flex;
} */



